[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eulerr"]
	path = eulerr
	url = https://github.com/jolars/eulerr
[submodule "polylabelr"]
	path = polylabelr
	url = https://github.com/jolars/polylabelr
[submodule "qualpalr"]
	path = qualpalr
	url = https://github.com/jolars/qualpalr
[submodule "rmdplugr"]
	path = rmdplugr
	url = https://github.com/jolars/rmdplugr
[submodule "SLOPE"]
	path = SLOPE
	url = https://github.com/jolars/slope
[submodule "tactile"]
	path = tactile
	url = https://github.com/jolars/tactile
